{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
<body>
    <div class="container">
        <div class="title">Login</div>
        <div class="content">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">
                    <label>Username : </label>
                        <input type="text" name="username" >
                    </div>

                </div>
                <div class="button">
                    <input type="submit" value="Login">
                </div>
            </form>
            <div>
                  {% for message in messages %}
                    <script>
                        alert('{{ message }}');
                    </script>
                    {% endfor %}

            </div>
        </div>
    </body>
    </html>